body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #006ec5;
  text-align: center;
  font-weight: 100px;
  line-height: 28px;
  margin-top: 10px;
}
h2 {
  color: #006ec5;
  font-size: 25px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #006ec5;
  margin: 0;
  padding: 0;

  font-size: 16px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid #006ec5;
  border-radius: 10px;
}
.overview {
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.btn {
  background: #006ec5;
  border: 1px solid #006ec5;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 38px;
  line-height: 24px;
  margin: 0;
  padding: 12px, 6px;
  text-align: center;
}
.btn:hover {
  color: #006ec5;
  background: #fff;
  border: 1px solid #006ec5;
  transition: all 250ms ease-in-out;
}
.current-weather {
  text-align: center;
}

.current-conditions {
  text-align: left;
  position: relative;
  right: -80px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #202124;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.daily-forecast {
  color: #006ec5;
  font-size: 35px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #006ec5;
}

.weather-forecast-date {
  font-size: 18px;
  color: #006ec5;
  margin-top: 20px;
}
.weather-forecast-temperature {
  font-size: 12px;
  min-width: 55px;
  color: #006ec5;
}

.weather-temperature-divider {
  color: #202124;
}
.weather-temperature-min {
  opacity: 0.6;
}
